*{margin:0;padding:0;box-sizing:border-box;}
*::before,*::after{box-sizing:border-box;}
a{text-decoration:none;}

@keyframes circle{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.page{
	display:flex;
	flex-direction:column;
}
.page::before{
	content:'';
	height:100vh;
	width:100vw;	
	background-size:cover;
	position:absolute;
	filter:blur(60px) brightness(.2);/*虚化图片，并变暗*/
	z-index: -1;
	left:0;
	top:0;
}


.disc-container{
    position:relative;
}
.disc-container .pointer{
	position:absolute;
	left:45vw;
	width:24vw;
	z-index: 1;
	transform-origin:0% 0%;
	transform:rotate(-22deg);
	transition: all 1s ease 0s;
}
.disc-container .disc{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:18vw;
	position:relative;
}
.disc-container .ring{
	width:72vw;	
}
.disc-container .light{
	width:72vw;
	position:absolute;	
}
.disc-container .cover{
	width:44.5vw;
	position:absolute;
	border-radius:50%;	
}
.disc-container.playing .light,
.disc-container.playing .cover{
	animation:circle 20s infinite linear;
}
.disc-container.playing .pointer{
	transform:rotate(0deg);
}
/*
.disc-container.playing .light,
.disc-container.playing .cover{
	当音乐播放时，开始转动，给其添加一个play
	animation-play-state:running无限循环，线性的
}
*/

/*暂停播放*/
.disc-container .icon-wrapper{
	z-index:1;/*暂停播放在页面显示*/
	position:absolute;
	border-radius:50%;
	border:1px solid white;
	height:20vw;
	width:20vw;
	background: rgba(0,0,0,0.5);
	display:flex;
    justify-content:center;
    align-items:center;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin-top:7.8vw;
}
.disc-container .icon{
	fill:white;
	width:10vw;
}
.disc-container .icon-pause{
	display: none;
}
.disc-container.playing .icon-pause{
	display: block;
}
.disc-container.playing .icon-play{
	display: none;
}

/*歌词*/
.song-description{
	flex-grow:1;/*占据剩余的空间*/
	color:#AEABAC;
	text-align:center;
	line-height:2;
	margin-top:5vw;
}
.song-description .lines{
	transition:transform 0.3s;
}
.song-description .lyric{
	height:90px;
	overflow: hidden;
}
.song-description h1{
	color:white;
	font-size:18px;
}
.song-description p{
	font-size: 16px;/*页面默认16px*/
	line-height:30px;
}
.song-description p.active{
	color:white;
}

/*底部的链接*/
.page > .links{
	position: absolute;
	left:0;
	right:0;
	bottom:10px;
	display:flex;
	justify-content:center;
	align-content: center;
	color:#D43B32;
}
.page > .links >a{
	width:44vw;
	margin:2vw;
	text-align:center;
	border:1px solid #D43B32;
	color:inherit; /*颜色继承父级*/
	letter-spacing:1vw;/*字体间距*/
	border-radius:5vw;
	height:10vw;
	line-height:10vw;
	font-size:18px;
}
.page> .links >a.main{
	background:#D43B32;
	color:white;
}
